/* style sheet for sample.html document */

*{margin: 0;}

body
{
color:#ff0000;
background-color:#ffff00;
font-family: sans-serif;	
}

h1{font-size:18pt}
p{font-size:12pt}
table
{
background-color:#efefef;
border-style:solid;
border-width:2px;
border-color:#999900;
}

th
{
background-color:#cccc00;
font-weight:bold;
padding:3px;
}

td{padding:3px}
td.code
{
font-family: serif;
font-weight:bold;
}
